<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>"{{pet.name}}"</title>
</head>
<body>
    <div class="container">
        <h1 class= "display-1">{{pet.name}}</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
                <th>Picture</th>
                <th>Species</th>
                <th>Age</th>
                <th>Additional Information</th>
            </thead>
            <tbody>
                <tr>
                    <td><img src="{{pet.photo_url}}" alt=""></td>
                    <td>{{pet.species}}</td>
                    <td>{{pet.age}}</td>
                    <td>{{pet.notes}}</td>
                </tr>
            </tbody>
        </table>
        <form action="/{{pet.id}}/edit">
            <button>Edit Pet</button>
        </form>
        <a href="/">Return Home</a>
        
    </div>
</body>
</html>